.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(40, 40, 40);
    padding: 20px;
}
.navbar a{
    font-size: 25px;
    text-decoration: none;
    color: burlywood;
}